package components

templ Square(color string) {
//make a div box with a border and a background color
<div class={ "background-color: " +color+"; border: 1px solid black; width: 50px; height: 50px;"}>
</div>
}

templ Grid(size int) {
  for i := 0; i < size; i++ {
    <div style="display: flex; flex-direction: row;">
      for j := 0; j < size; j++ {
        @Square("red")
      }
    </div>
  }
}
