package views

import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/views/components/navbar"

templ Dashboard(c echo.Context) {
	@Base() {
		<div class="container mx-auto px-4 text-center">
			{ children... }
		</div>
		@navbar.Navbar(c)
	}
}
