package views

import "github.com/labstack/echo/v4"

templ Home(c echo.Context, playerCount int,tStyles []string) {
	@Dashboard(c) {
		<h1>{ c.Get("game_id").(string) }</h1>
		@Positions(c, playerCount, tStyles)
	}
	//}
}
