package game

import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/data"
import "strconv"

templ GamesList(c echo.Context, games []data.Game) {
	<div class="games-list">
		for _, game := range games {
			@GameCard(game)
		}
	</div>
}

templ GameCard(game data.Game) {
	<div>
		<h4>{ game.GameID }</h4>
		<p>{ strconv.Itoa(game.PlayerCount) }</p>
	</div>
}
