package game

import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/view/template"

templ NewGame(c echo.Context) {
	@template.Base() {
		<form>
			Idk lol
		</form>
	}
}
