package page

import "github.com/mccune1224/betrayal-widget/view/template"
import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/data"
import "strconv"
import "strings"
import "github.com/mccune1224/betrayal-widget/view/components/text"
import "fmt"

templ RoundActions(c echo.Context, requests []*data.ComplexPlayerRequest) {
}

func ComplexPlayerRequestRoundBucketSort(reqs []*data.ComplexPlayerRequest) [][]*data.ComplexPlayerRequest {
	// WARNING: this code awaits those within the ninth circle of 𝐻̥̊⃝𝑒̥̊⃝𝑙̥̊⃝𝑙̥̊⃝ . I am sorry for my crimes against humanity.
	// Should I just be making this int instead of just wrapping round and phase into two fields? Yes
	// Will I do that? No.
	latestRound, _ := strconv.Atoi(strings.Split(reqs[len(reqs)-1].R.RoundPhase, " ")[0])
	buckets := make([][]*data.ComplexPlayerRequest, latestRound)
	for _, req := range reqs {
		requestRound, _ := strconv.Atoi(strings.Split(req.R.RoundPhase, " ")[0])
		requestRound -= 1
		buckets[requestRound] = append(buckets[requestRound], req)
	}

	return buckets
}

templ ActionHistoryCard(c echo.Context, req *data.ComplexPlayerRequest) {
	<div class="text-sm flex flex-col border-2 border-dashed border-space rounded-xl m-2 p-2 gap-3">
		<p class="flex flex-col"><b class="font-bold">Action:</b> { req.P.P.Name } | { req.A.AbilityName }-> { req.R.Target }</p>
		<p class="flex flex-col"><b class="font-bold">Player Context:</b> { req.R.Description }</p>
		<p class="flex flex-col"><b class="font-bold">Ability:</b> { req.A.AbilityName }</p>
		<p class="flex flex-col"><b class="font-bold">Note:</b> { req.R.Note }</p>
	</div>
}

templ ActionHistoryDashboard(c echo.Context, requests []*data.ComplexPlayerRequest) {
	@template.Base(c) {
		<h1
			class="sm:text-6xl text-4xl py-4 font-mono text-center"
		>Action History</h1>
		for i, roundRequests := range ComplexPlayerRequestRoundBucketSort(requests) {
			if len(roundRequests) != 0 {
				<div class="flex flex-col gap-3 justify-center rounded-md border-2 bg-zinc-100 drop-shadow-2xl shadow-md shadow-zinc-400 py-3 px-2">
					@text.Title(fmt.Sprintf("DAY %d Actions", i+1), true)
					for _, req := range roundRequests {
						@ActionHistoryCard(c, req)
					}
				</div>
			}
		}
	}
}
