package page

import "github.com/mccune1224/betrayal-widget/view/template"
import "github.com/labstack/echo/v4"

templ ActionHistoryDashboard(c echo.Context) {
	@template.Base(c) {
		<h1>TODO ACTION HISTORY FOR ADMIN....</h1>
	}
}
