package page

import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/data"
import "github.com/mccune1224/betrayal-widget/view/template"

templ GameDashboard(c echo.Context, game *data.Game) {
@template.Base(c) {
<section>
	<h1>Welcome to { game.GameID }</h1>
</section>
}
}
