package forms

import "github.com/labstack/echo/v4"
import "github.com/mccune1224/betrayal-widget/data"
import "github.com/mccune1224/betrayal-widget/util"

func currentAlignment(t *data.ComplexPlayer) string {
    if t.P.AlignmentOverride != "" {
        return t.P.AlignmentOverride
      }
    return t.R.Alignment
  }

templ AlignmentForm(c echo.Context, target *data.ComplexPlayer, players []*data.ComplexPlayer, alliances []*data.Alliance) {
<section>
  <label for="alignment">Overwrite Alignment (Currently {currentAlignment(target)})</label>
  <select required name="alignment"
    class=" w-full p-2 border-2 border-black  bg-gray-200 text-gray-700  rounded-md  focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
    id="grid-state" hx-post={ util.GetPlayerUpdateURL(c, target) + "/alignment" }
    hx-target="#player-wheel">
    >
    <option disabled selected value>-- select an option -- </option>
    <option value="Lawful">Lawful</option>
    <option value="Outlander">Outlander</option>
    <option value="Chaotic">Chaotic</option>
  </select>
</section>
}
